<?xml version="1.0" encoding="UTF-8"?>
<Server port="8005" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.startup.VersionLoggerListener"/>

  <Listener SSLEngine="on" className="org.apache.catalina.core.AprLifecycleListener"/>

  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener"/>
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener"/>
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener"/>


  <GlobalNamingResources>
    <Resource auth="Container" description="User database that can be updated and saved" factory="org.apache.catalina.users.MemoryUserDatabaseFactory" name="UserDatabase" pathname="conf/tomcat-users.xml" type="org.apache.catalina.UserDatabase"/>
  </GlobalNamingResources>

  <Service name="Catalina">

    <Connector connectionTimeout="20000" port="9080" protocol="HTTP/1.1" redirectPort="8443"/>

    <Engine defaultHost="localhost" name="Catalina">


      <Realm className="org.apache.catalina.realm.LockOutRealm">

        <Realm className="org.apache.catalina.realm.UserDatabaseRealm" resourceName="UserDatabase"/>
      </Realm>

      <Host appBase="webapps" autoDeploy="true" name="localhost" unpackWARs="true">

        <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs" pattern="%h %l %u %t &quot;%r&quot; %s %b" prefix="localhost_access_log" suffix=".txt"/>

    <Context docBase="count" path="/count" reloadable="true" source="org.eclipse.jst.jee.server:count">
	     <Resource auth="Container" driverClassName="com.mysql.cj.jdbc.Driver" maxActive="1" maxIdle="1" maxWait="1" name="jdbc/mysql" type="javax.sql.DataSource" password="${dbpassword}" username="${dbusername}" url="jdbc:mysql://10.100.130.201:3306/users_database?characterEncoding=utf-8"/>
	</Context>
     
	</Host>
    </Engine>
  </Service>
</Server>
